@charset "UTF-8";
h1{
    color: black;
 }
 
 label, input{
    display: block;
    margin: auto;
 }
 #btn-cadastro{
    margin-top: 20px;
 }
 label{
    margin-top: 10px;
 } 
 body {
    background-color: #E0FFFF;
    color: rgba(224, 255, 255);
  }
  div#interface{
      width: 400px;
      background-color: #000000;
      margin: 10px 10px 10px 10px;

  }
 