table {
    display: table;
    width: 100%;
    border:none;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    border-collapse: collapse;
}
td {
    padding: 15px;
    text-align: justify;
}
.doar{
    width: 50px;
    margin: 20px;
}

th {
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 14x;
    padding: 8px 24px;
}
.doadores{
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}
.doador{
    margin-right: 10px;
    font-size: 40px;
    text-align: center;
}
.doarrank{
    width: 200px;
    margin: 20px;
    right: 1000px;
}
