.btn{
    margin: 10px;
    display: list-item;
    background-color: white;
    color:black;
    outline: none;
    border: solid rgb(157, 228, 228) 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    padding: 6px 12px;
}

.btn:hover{
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
    display: list-item;
    background-color:rgb(157, 228, 228);
    color: #fff;
    outline: none;
    border: solid 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    padding: 6px 12px;
}
 .doar{
    width: 50px;
    margin: 20px;
}
td {
    padding: 15px;
    text-align: justify;
}
table {
    display: table;
    width: 100%;
    border:none;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    border-collapse: collapse;
}
th {
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 14x;
    padding: 8px 24px;
}
.separador{
    width: 200px;
    margin: 10px;
}
label, input{
    display: block;
    margin: 5px;
 }
