.subimg{
    margin-right: 40px;
    font-size: 20px;
    text-align: justify;
}
.separador{
    width: 650px;
    margin: 10px;
    right: 0px;
}
blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px rgb(157, 228, 228)solid ;
    display: block;
    margin: 40px;
}
td{
    text-align: justify;
}
.logo-principal{
    width: 200px;
    border-radius: 50%;
}
*{
    padding: 0;
    margin: 0;
    position: relative;
}
.fundo1{
    background-image:url(../img/local1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    height:900px;
}
.btn{
    margin: 10px;
    display: list-item;
    background-color: white;
    color:black;
    outline: none;
    border: solid rgb(157, 228, 228) 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    padding: 6px 12px;
}

.btn:hover{
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
    display: list-item;
    background-color:rgb(157, 228, 228);
    color: #fff;
    outline: none;
    border: solid 1px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    padding: 6px 12px;
}
table {
    display: table;
    width: 100%;
    border:none;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    border-collapse: collapse;
}
td {
    padding: 15px;
    text-align: justify;
}
th {
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 14x;
    padding: 8px 24px;
}

.full{
    height: 100%;
}
.ideias{
    width: 50px;
    
    margin: 10px;
}
.ideiastitulo{
    width: 100px;
    margin: 10px 100px;
    position: relative;
}
.ideiastext{
    margin-right: 10px;
    font-size: 20px;
    text-align: left;
}
